<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
            <title>Office Hours</title>
    </head>
    <body>
       <ul class="topnav">
            <li><a>Office Hours </a></li>
            <li><a href="calendar">View Office Hours</a></li>
            <li><a href="addmessage">Add message</a></li>
            <li><a class="active" href = "appointment">Appointments</a></li>
            <li><a href = "details">Student View</a></li>
            <li><a href="logout">Logout</a></li>
         </ul><br/>
         
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">     
            <h2><Center>List of Appointments</Center></h2>
            <table class="table table-dark" style="width:100%">
          
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
            <th>Message</th>
            <th style="text-align:center">Further Details</th>
          </tr>
       
      <% for (var i = appointments.query.length-1; i >= 0; i--) {   
        appointment = appointments.query[i];   %>
        
       
         <br/>
           
          <tr>
             <td scope="row"> <%=appointment.firstname%></td>
             <td> <%=appointment.lastname%></td>
             <td><%=appointment.email%></td>
             <td> <%=appointment.date%></td>
             <td><%=appointment.from%></td>
             <td> <%=appointment.to%></td>
             <td><%=appointment.message%></td>
             <td>
                <div >
                    <div style="display: inline-block">
              <form method="GET" action="/reject/<%= appointment._id %>">
                <input type="submit" value="View Details" class="btn btn-primary " />
                </form>
                    </div>
                    <!-- <div style="display: inline-block"><a href="/reject/<%= appointment._id  %>" class="btn btn-primary pull-right"> View details </a></div> -->
                    <div style="display: inline-block">  <form method="POST" action="/accept/<%= appointment._id %>">
                    <button type="submit" class="btn btn-success" aria-label="Left Align">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                  </form>
    </div>
    <div style="display: inline-block"> 
                <form method="POST" action="/reject/<%= appointment._id %>">
                  <button type="submit" class="btn btn-danger" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </form>
                </div>
                </div>
            </td>
          </tr>     
                         
         
        <% } %>
      </table>


</div>
</div>
</div>
   
 
