
<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
      <ul class="topnav">
        <li><a>Office Hours</a></li>
        <li><a class="active" href="calendar">View Office Hours</a></li>
        <li><a href="addmessage">Add message</a></li>
        <li><a href = "appointment">Appointments</a></li>
        <li><a href = "details">Student View</a></li>
        <li><a href="logout">Logout</a></li>
        </ul><br/>

        <div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      
      
      <!-- <div class="panel panel-default"> -->
<h2><p>Office Hours of <%=user1%>!</p></h2>
<table class="table">
  <thead >
    <th scope="col">Subject</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
    
  </thead>
  <tbody>
    
      <% for(var i=0; i < events.length; i++) {%>
        <% event = events[i]; %>
          <tr>
            <td>
            
                <b> <%= event.subject%></b>
                
            </td>
            <td>
                <% var date1 = event.start.dateTime.toString().substr(0, event.start.dateTime.toString().length - 5)+'Z' %>
                <% console.log(date1) %>
                <% var date = new Date(date1)%>
                <% year = date.getFullYear();
                month = date.getMonth()+1;
                dt = date.getDate();
                time = date.getMinutes();
                hours = date.getHours();

                if (time < 10) {
                  time = '0' + time;
                }
                if (hours < 10) {
                  hours = '0' + hours;
                }
                if (dt < 10) {
                  dt = '0' + dt;
                }
                if (month < 10) {
                  month = '0' + month;
                } %>
               <b> <%=   year+'-' + month + '-'+dt+ '\xa0\xa0-\xa0\xa0'+ hours + ':'+ time ; %></b>
               
           </td>
           <td>
         
              <% var date1 = event.end.dateTime.toString().substr(0, event.end.dateTime.toString().length - 5)+'Z' %>
                
                <% var date = new Date(date1)%>
                <% console.log(date.getDay()) %>
                <% year = date.getFullYear();
                month = date.getMonth()+1;
                dt = date.getDate();
                time = date.getMinutes();
                hours = date.getHours();

                if (time < 10) {
                  time = '0' + time;
                }
                if (hours < 10) {
                  hours = '0' + hours;
                }
                
                if (dt < 10) {
                  dt = '0' + dt;
                }
                if (month < 10) {
                  month = '0' + month;
                } %>
               <b> <%= hours + ':'+ time; %></b>
         </td>
          </tr>
       <% } %>
    <!-- {{#each events}}
      <tr>
       <td>{{this.subject}}</td>
        <td>{{this.start.dateTime}} </td>
        <td>{{this.end.dateTime}} ({{this.end.timeZone}})</td>
       
      </tr>
    {{/each}} -->
  </tbody>
</table>
</div>
</div>
</div>
</div>