<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
     
       <div class="container">
           <form method="post"  action="contact">
            
             <a href="login1" style="font-size:5em;">Faculty View</a><br>
             <a href="details" style="font-size:5em;">Student View</a>
             
          </form> 
          
        </div>
      

    </body>
</html>