<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <!-- <link type ="text/css" href="app.css" rel="stylesheet" />  -->
            <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type ="text/css" href="Contact.css" rel="stylesheet" /> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"></link>
	
	<script>
		$('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
    </script>
    
            <title>Office Hours</title>
    </head>
    <body>
       <ul class="topnav">
        <li><a>Office Hours</a></li>
        <li><a  href="details" >View Office Hours</a></li>
        <li><a class="active"href="#contact">Book An Appointment</a></li>
        <li><a href="paper">Paper Dropoff</a></li>
        <li><a href = "login1">Faculty View</a></li>
         </ul>
         
       <div class="container">
           <form method="post"  action="contact">
             <header class="header1"> <h1>Book an Appointment</h1></header><br><br><br>
             <label><b>First name:</b></label>
             <input type="text" name="firstname" placeholder="Enter your first name" required="required">
             <br><br>
             <label><b>Last name:</b></label>
             <input type="text" name="lastname" placeholder="Enter your last name" required="required">
             <br><br>
             <label><b> University E-mail: (Ex: S530666@nwmissouri.edu)</b></label>
             <input type="email" name="email" placeholder="enter University your email @nwmissouri.edu" pattern="^.*@nwmissouri\.edu$" required="required">
             
             <br><br>
             <label><b> Date:</b></label>
                <div class="input-group date" data-provide="datepicker">
                <input type="text" name="date" class="form-control" required="required">
                    <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
             <label><b> Appointment From:</b></label>
             <input type="time" name="from" required="required">
             <br><br>
             <label><b> Appointment To::</b></label>
             <input type="time" name="to" required="required">
             <br><br>
             
             
               

             <label><b> Enter Message:</b></label><br>
             <textarea name="message" rows="2" cols="63" placeholder="Please leave you message." required="required"></textarea>
             <br><br>
             <button type="submit" value="Submit">Submit</button>
          </form> 
        </div>
      
    
    </body>
</html>