<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
       <ul class="topnav">
            <li><a>Office Hours</a></li>
           <li><a class="active"href="details">View Office Hours</a></li>
           <li><a href="contact">Book An Appointment</a></li>
           <li><a href="paper">Paper Dropoff</a></li>
           <li><a href = "login1">Faculty View</a></li>
         </ul><br/>
        
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1><p><b> <%=msg%><b><p></h1>
 
        <h2>Office Hours of <%= user.local.name %></h2>
        
      <table class="table table-dark" style="width:100%">
          
          <tr>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
          </tr>
       
      <% for (var i = officehours.query.length-1; i >= 0; i--) {   
        officehour = officehours.query[i];   %>
        
         <!-- <%=  officehour.Identifier %> -->
         <br/>
            <!-- ID:
            <%=  officehour._id %> -->
          <tr>
             <td scope="row"> <%=officehour.day%></td>
             <td> <%=officehour.starttime%></td>
             <td><%=officehour.endtime%></td>
          </tr>     
                         
         
        <% } %>
      </table>
  
 
</div>
    </div>
  </div>
</div>