<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="../../Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
      <ul class="topnav">
           <li><a>Office Hours</a></li>
          <li><a href="../facultydetails">View Office Hours</a></li>
          <li><a href="../contact">Book An Appointment</a></li>
          <li><a href="../paper">Paper Dropoff</a></li>
          <li><a href="../logout">Logout</a></li>
        </ul><br/>
        <a id="view" href = "changeview">change view</a>
<br/><br/>
<br/>
<div class="container">
  <div class=row>
    <div class="col col-md-12">
      <h2>Edit Office Hours </h2>
      <div class="content">
        <form method="POST" action="/save/<%= officehour._id %>">
          <!-- <div class="form-group" id=frm>
            <label for="_id">ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%= officehour._id %>" required disabled>
          </div> -->
          
            <div class=row>
                <div class="col col-xs-12">
                  <div class="form-group">
                    <label for="day">Day</label>
                    <input type="text" class="form-control" id="day" name="day" value="<%= officehours.day %>" required>
                  </div>
                  <div class="form-group">
                    <label for="starttime">Starting Time</label>
                    <input type="text" class="form-control" id="starttime" name="starttime" value="<%= officehours.starttime %>">
                  </div>
                  <div class="form-group">
                    <label for="endtime">End Time</label>
                    <input type="text" class="form-control" id="endtime" name="endtime" value="<%= officehours.endtime %>">
                  </div>
                </div>
              </div>
              <hr>
              <br/>
              <br/>
              <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <br/>

        <form method="get" action="/facultydetails">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>