<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
            <title>Office Hours</title>
    </head>
    <body>
       <ul class="topnav">
            <li><a>Office Hours </a></li>
           <li><a  class="active"href="#details">View Office Hours</a></li>
           <li><a href="create">Add Office hours</a></li>
           <li><a href="addmessage">Add message</a></li>
           <li><a href = "appointment">Appointments</a></li>
           <li><a href = "details">Student View</a></li>
           <li><a href="logout">Logout</a></li>
         </ul><br/>
         
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      
      
      <div class="panel panel-default">
        
        
      <table class="table table-dark" style="width:100%">
          <h2><Center>Office Hours of <%= user.local.name %></Center></h2>
          <tr>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
            <th style="text-align:center">Further Details</th>
          </tr>
       
      <% for (var i = officehours.query.length-1; i >= 0; i--) {   
        officehour = officehours.query[i];   %>
        
         <!-- <%=  officehour.Identifier %> -->
         <br/>
            <!-- ID:
            <%=  officehour._id %> -->
          <tr>
             <td scope="row"> <%=officehour.day%></td>
             <td> <%=officehour.starttime%></td>
             <td><%=officehour.endtime%></td>
             <td>
                <a href="/delete/<%= officehour._id  %>" class="btn btn-danger"> Delete </a>
                <a href="/edit/<%= officehour._id %>" class="btn btn-warning"> Edit </a>
            </td>
          </tr>     
                         
         
        <% } %>
      </table>
  
</div>


<form method="POST" action="/facultydetails">
 
<p> <b><h2>Select a Message:</h2></b></p> 
<select name="messages1" id="messages1">
<% for (var i = messages.query.length-1; i >= 0; i--) {   
  message = messages.query[i];   %>

  <option value="<%= message.messageinfo %>"><%= message.messageinfo %></option>

<% } %>
</select>

<div class="col col-md-1">
<input type='submit' value='Save' class="btn btn-primary">
</div>
</form>
</div>
</div>
</div>
   
 
