<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
            body         { padding-top:80px; }
        </style>
</head>
<div class="col-md-3"></div>

<div class="col-md-8"><br><br><h2>Password Reset</h2><br><br></div>
<form method="post" action="/reset/token">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label>New Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="cpassword" placeholder="Password" required>
    </div>
    <input type="hidden" name="token" value="<%= token %>"/>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Submit</button></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>