<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
            body         { padding-top:80px; }
        </style>
</head>
<body>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
		<% } %>
		<% if (message1.length > 0) { %>
            <div class="alert alert-success"><%= message1 %></div>
        <% } %>

<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<p>Please enter the registered Email</p>
		</div>
		<div class="col-md-2"></div>
	</div>
	<form action="/forgote" method="POST">

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" required></div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-primary">Reset</button></div>
			<div class="col-md-4"></div>
		</div>
    </form>
    </div>
</body>