{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
      <ul class="topnav">
        <li><a>Office Hours</a></li>
        <li><a class="active" href="home">Home</a></li>
        <li><a href="calendar">View Office Hours</a></li>
        <li><a href="addmessage">Add message</a></li>
        <li><a href = "appointment">Appointments</a></li>
        <li><a href = "details">Student View</a></li>
        <li><a href="logout">Logout</a></li>
        </ul><br/>
       
  <h1>Office Hours</h1>
  <p class="lead">This shows Office Hours of professor</p>
  {{#if user1}}
    <p>Welcome {{user1}}!</p>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div>
