<!DOCTYPE html>
<html>
	<head>
			
		<link type ="text/css" href="Dulam_Santhosh.css" rel="stylesheet" /> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

		<title>Santhosh</title>
	</head>
	<body>
		
			<ul class="topnav">
				  <li><a>My Site</a></li>
					<li><a class="active" href="#home">Home</a></li>
					<li><a href="MonthlyExpenses">Expenses</a></li>
					<li><a href="Contact">Contact</a></li>
					<li><a href="index">GuestBook</a></li>
			</ul>
			<div class="container">
		
				<div class="row">
					<div class="col-md-2"> 
							<img src="facebook_1505597921780.jpg" alt="Paris" width="100" height="100">
					</div>
					<div class="col-md-6">
						<div class="header1">
							<header><h1>About Me </h1></header>
						</div>
					</div>
					<div class="col-md-1">
						<a class="fb" target="blank" href="https://www.facebook.com/">
						<img src="facebook-icon-22.png" alt="HTML tutorial" style="width:50px;height:50px;border:10;">
					  </a>
					</div>
					<div class="col-md-1">
					  <a class="fb2" target="blank" href="https://github.com/s530666/">
						<img src="GitHub_Logo.png" alt="HTML tutorial" style="width:50px;height:50px;border:10;">
					  </a>
					</div>
					<div class="col-md-1">
					  <a class="fb1" target="blank" href="https://bitbucket.org/S530666/">
						<img src="bitbucket.png" alt="HTML tutorial" style="width:50px;height:50px;border:10;">
					  </a>  
					</div>
					<div class="col-md-1">
					  <a class="fb1" target="blank" href="https://www.linkedin.com/">
						<img src="In-Black-34px-TM.png" alt="HTML tutorial" style="width:50px;height:50px;border:10;">
					  </a> 				
					</div>
				</div>
										<!-- Example row of columns -->
				<div class="row">
								<div class="col-md-8">
										<h2 class="head">My Background</h2>
											<p><strong>Hi All,I was born and brought up in Andhra Pradesh,India.</strong></p>
										<p><strong>I completed my under graduation in Computer Science Department.</strong></p>
										<p><strong>I worked for Tech Mahindra for 3 years.</strong></p>
								</div>
							  <div class="col-md-4">
															<iframe width="300" height="150" src="https://www.youtube.com/embed/9pN7UT5S64I?autoplay=1" frameborder="0" allowfullscreen></iframe>
								</div>
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Plans</h2>
								<p><strong>I would like to see myself as a data scientist in next couple of years</strong></p>
								<p><strong>Learning front end programming will be an add-on for me.</strong></p>
						  </div>
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Interests</h2>
								<p><strong>My favourite sport is Shuttle Badminton,I played at national level</strong>.</p>
								<p><strong>I love to see new places and experience the beauty, food and people of different regions.</strong></p>
						 	 	
						  </div>
				</div>
			</div>
						
			<footer> 
									<h4>By Santhosh Dulam.&copy; Copyright 2017. All rights reserved.</h4>
			</footer>
	</body>
</html>
