<!DOCTYPE html>
            <html>
                <head>
                        
                        <link type ="text/css" href="../../Contact.css" rel="stylesheet" /> 
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
                        <title>Office Hours</title>
                </head>
                <body>
                   <ul class="topnav">
                    <li><a>Office Hours </a></li>
                    <li><a  href="../../facultydetails">View Office Hours</a></li>
                    <li><a href="../create">Add Office hours</a></li>
                    <li><a href="../paper">Add message</a></li>
                    <li><a href="../logout">Logout</a></li>
                    
                     </ul>
                     <br/>
                     <div class="container">
                   <div class=row>
                     <div class="col col-md-12">
                        <br/>
                        <br/>
                        <h2>View Appointment</h2>
                        <br/>
                        <br/> <h4>FirstName: <%=  appointment.firstname %></h4>
                        <br/> <h4>LastName: <%=  appointment.lastname %></h4>
                        <br/> <h4>Email: <%=  appointment.email %></h4>
                        <br/> <h4>Day: <%=  appointment.date %></h4>                       
                        <br> <h4>From: <%=appointment.from%></h4>   
                        <br/> <h4>To: <%=appointment.to%></h4>
                        <br/> <h4>Message: <%=  appointment.message %></h4>
                        
                        
                                    <form method="POST" action="/accept/<%= appointment._id %>">
                                      <input type="submit" value="Accept" class="btn btn" />
                                    </form>
                        
                                    <br/>
                                    <form method="POST" action="/reject/<%= appointment._id %>">
                                      <input type="submit" value="Reject" class="btn btn-danger pull-right" />
                                    </form>
                       
                     </div>
                   </div>
                 </div>
                 
                 
                 
                   
                 