body{		margin: 0;
    background-image: url("749510_white-light-plain-backgrounds-wallpapers-image-2-puzzle-play_1920x1080_h.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
 }
.container{
    margin: 10px;
    padding:10px;
    max-width:500px;
    border: 2px solid;
    border-radius: 5px;
    padding: 16px;
}
h1{
    text-align:center;
}
ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #073054;
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #0E0000;}

ul.topnav li a.active {background-color: #6066FF;}

@media screen and (max-width: 600px){
ul.topnav li {float: none;}
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.header1{
	color:#030051;
} 
img {
	border-radius: 50%;
	float:left;
	
}
footer {
	text-align:center;
	color:#09065A;
}